.login-wrap {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 35px;
  cursor: pointer;
}

.logo-wrap {
  display: flex;
  justify-content: center;
}
.logo-wrap .logo {
  cursor: pointer;
}

.nev-section {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 40px;
}

.left-section {
  flex: 1;
  /* display: flex;
  justify-content: center; */
}

.menu-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  gap: 32px;
  list-style-type: none;
  flex: 1;
  font-weight: 600;
}

.menu-list li {
  cursor: pointer;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.nev-search {
  margin-right: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.input-search {
  border: none;
  outline: none;
  gap: 8px;
  padding: 0 0 0 10px;
  font-size: 15px;
}

.nev-wrap {
  margin-bottom: 50px;
}

.product-card {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  text-align: center;
  height: 100%;
}

.product-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 4px;
}

.card-wrap {
  transition: all 0.3s;
  cursor: pointer;
}
.card-wrap:hover {
  transform: scale(1.1);
}

.col-lg-3 {
  padding-bottom: 30px;
}